.container {
  display: flex;
  margin-bottom: 1rem;
}

.siteLinks {
  margin: 0 var(--spacing-03);
  flex-grow: 1;
}

.externalLinks {
  display: flex;
  flex-grow: 0;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
}

.link:not(:last-child) {
  margin-right: var(--spacing-03);
}

.logo {
  width: 150px;
}
